<!--Quote of the day Widget by Calendar Labs-->
<h1>
    <div>
        <iframe src="//widget.calendarlabs.com/v1/quot.php?cid=101&ver=1.2&uid=7184178485&c=random&l=en&cbg=transparent&cb=0&cbc=FFFFFF&cf=calibri&cfg=FFFFFF&qfs=i&tfg=FFFFFF&tfs=i&afc=FFFFFF&afs=i"
                width="200" height="185" marginwidth=0 marginheight=0 frameborder=no scrolling=no
                allowtransparency='true'>Loading...
        </iframe>
        <div style="width:200px;font-size:12px;color:#000;"></a></div>
    </div>
</h1>