<!--Spotify Widget-->
{% load static %}
<div class="widgetContainer" draggable="true" ondragend="drop(event)">
        <div id="spotify_widget" draggable="true" class = "spotify widget iframeOverlay">
                <iframe src="https://open.spotify.com/embed/playlist/37i9dQZEVXcFZKf4BeOGz3" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="icon">
                <img src="{% static 'icons/spotify_icon.png' %}"/>
        </div>
</div>