{% extends "base.html" %}
    
{% block content%}
    {% include 'navbar.html' %}
    {% include 'options.html' %}
    <body id="image" style="background: url({{image}}) no-repeat center fixed; background-size: cover;";>

    {% include "widgets/analog_clock_widget.html" %}
    {% include "widgets/spotify_widget.html" %}
    {% include "widget_bank.html" %}
    
    

    <h3 contentEditable role='textbox' aria-multiline='true' >Welcome, {{request.user}}</h3>
    <img src="data:image/png;base64,{{data}}" alt="" height= "250", width="250" >
    <!--  Will need to discuss which button will have this functionality  -->
    <button onclick="activateBank()">Widget Bank</button>
{% endblock %}