{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <title>CarpIdeas</title>
    <style type="text/css">
    </style>
</head>
<body id="image" style="background-image: url('{% static 'https://source.unsplash.com/random/1920x1080'%}')";>
    
	{% include 'navbar.html' %}
	<h2> CarpIdea </h2>
    {% include 'downloadButton.html'%}
    
    {% block content%}
    
    {% endblock %}
</body>
</html>