{% extends "base.html" %}

{% block content%}
<!-- In order to run the code,
            the location of the image file needs to
            be changed to your local directory,
            both the HTML and downloadable file
            needs to be present in the same directory -->
        <div class="container">
            <div class = "downloadButton">
            <a href="https://source.unsplash.com/random/1920x1080" download = "myimage"><button name = "download">Download</button></a>
        </div>
    </div>
{% endblock %}