{% block content%}
<!-- In order to run the code,  
            the location of the image file needs to  
            be changed to your local directory, 
            both the HTML and downloadable file  
            needs to be present in the same directory -->
        <div id="like" class = "popup" onclick="likeButton()"><button class="btn btn-secondary">Like</button>
            <span class ="popuptext" id = "liked">Image Liked!</span>
        </div>
        <div id="dislike" class = "popup" onclick="dislikeButton()"><button class="btn btn-secondary">Dislike</button>
            <span class ="popuptext" id = "disliked">Image Disliked! You won't see that image again.</span>
        </div>
{% endblock %}