{% block content%}
<!-- In order to run the code,  
            the location of the image file needs to  
            be changed to your local directory, 
            both the HTML and downloadable file  
            needs to be present in the same directory -->
        <div id="like" class = "popup" onclick="myFunction()">Like
            <span class ="popuptext" id = "myPopup">Image Liked!</span>
        </div>
        <div class="dislike">
            <button name = "dislike">Dislike</button>
        </div>
    </div>
{% endblock %}