{% block content %}
<!--creates transparent navbar on bottom of page to display buttons-->
<nav class="navbar navbar-inverse fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="navbar-toggle-icon"></span>
            <div class = "gear">
              <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
              <i class="fa fa-cog fa-2x fa-spin-hover" style = "color:#2196F3"></i>
            </div>
           
        </a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <div class ="options">
        <ul class="nav navbar-nav">
            <li>
                <!--Like Image button-->
                <div id="like" class = "popup" onclick="likeButton()"><button class="btn btn-secondary">Like</button>
                <span class ="popuptext" id = "liked">Image Liked!</span>
                </div>
            </li>
            <li>       
                <!--Dislike Image button--> 
                <div id="dislike" class = "popup" onclick="dislikeButton()"><button class="btn btn-secondary">Dislike</button>
                <span class ="popuptext" id = "disliked">Image Disliked! You won't see that image again.</span>
                </div>
            </li>
            <li>
                <!--Download button-->
                <a class="btn btn-secondary" href="/download">Download Image</a> 
            </li>
            <li>
                <!--Skip Image button-->
                <button name = "skip" class="btn btn-secondary" type="submit"  onClick="refreshPage()">Skip Background</button>
            </li>
            <li>
              <!--Pixelate button-->
              {% if not isPixelate %}
              <a class="btn btn-secondary" href="/pixelate">Pixelate Image</a>
              {% else %}
              <a class="btn btn-secondary" href="/unpixelate">Revert Image</a>
              {% endif %}

            </li>
              <li>
              <!-- Logout Image button-->
              <button name = "logout" class="btn btn-secondary" type="submit"><a href = "http://127.0.0.1:8000/logout">Logout</a></button>
            </li>
        </ul>
      </div>
      </div>
    </div>
  </nav>
{%endblock%} 