{% block content %}
<!--creates transparent navbar on bottom of page to display buttons-->
<nav class="navbar navbar-inverse fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="navbar-toggle-icon"></span>
            <div class = "gear">
              <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
              <i class="fa fa-cog fa-2x fa-spin-hover" style = "color:#2196F3"></i>
            </div>
           
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li>
                <!--Like Image button-->
                <div id="like" class = "popup" onclick="likeButton()"><button class="btn btn-secondary">Like</button>
                <span class ="popuptext" id = "liked">Image Liked!</span>
                </div>
            </li>
            <li>       
                <!--Dislike Image button--> 
                <div id="dislike" class = "popup" onclick="dislikeButton()"><button class="btn btn-secondary">Dislike</button>
                <span class ="popuptext" id = "disliked">Image Disliked! You won't see that image again.</span>
                </div>
            </li>
            <li>
                <!--Download Image button-->
                <div class = "downloadButton">
                  <a target="download_image" 
                      class="btn btn-secondary" 
                      href="pixelate_image({{image}})/?pixelate_image={{image}}">
                      Download Image
                  </a>
                </div>
            </li>
            <li>
                <!--Skip Image button-->
                <button name = "skip" class="btn btn-secondary" type="submit"  onClick="refreshPage()">Skip Background</button>
            </li>
            <li>
              <a class="btn btn-secondary" href="/pixelate_image">Pixelate Image</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
{%endblock%} 