html{

    background: no-repeat center fixed;
    background-size: cover;
}
h1{
    color: white;
    font-weight: lighter;
    font-size: 30px;
    font-style: italic;
    position:absolute;
    width:100%;
    bottom:0;
    text-align:center;
}
h3{
  font-size: 50px;
  position:absolute;
  width:100%;
  bottom:200px;
  text-align:center;
}
#image{
    width: 100%;
    height: auto;
}
.spotify{
  position: absolute;
  right: 20px;
  top: 80px;
  display: inline-block;
}

.popup {

    display: inline-block;
    cursor: pointer;
  }


  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  .container{
      top: 0px;
      right: 0;
  }




  body {
    background-color: transparent;
  }
  .format{
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*
  #digital-clock {
    width: 20%;
    font-size: 10px;
    text-align: center;
    font-size: 5vw;
    color: white;
  }
  .red-dot {
    color: #2196F3;
  } 
*/
  .clock{
    
    width: 250px;
    height: 250px;
    background-color:transparent;
    border-radius: 50%;
    border: 8px solid rgb(32, 32, 32);
    box-shadow: 2px 2px 8px 2px rgba(22, 45, 75, 0.92);
    background-size: cover;
    position:absolute;
 
    bottom:275px;
    text-align:center
  }
  .clock::before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(32, 32, 32);
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }
  .hand {
    /* apply the width */
    /* apply the height */
    /* apply the background-color */
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    transform-origin: bottom;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  .hour {
    width: 7px;
    height: 35%;
    top: 15%;
    background-color: rgb(32, 32, 32);
  }
  
  /* hour hand style ends */
  /* minute hand style */
  
  .minute {
    width: 5px;
    height: 38%;
    background-color:rgb(32, 32, 32);
  }
  
  /* minute hand style ends */
  /* second hand style */
  
  .second {
    position: absolute;
    height: 45%;
    width: 0.11em;
    top: 5%;
    transform-origin: 50% 100%;
    background-color: #ff0000;
  }
  
  /* second-hand style ends */





  .clock__numbers {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.clock__numbers > div {
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    top: 6%;
    /* margin-top: 5%; */
}

.clock__numbers > .number::before {
  position: relative;
  content: "";
  background-color: #222;
  display: block;
  height: 0.55em;
  width: 0.10em;
  margin-bottom: 0.5em;
    width: 0.25em;
    height: .70em;
}

.number {
  font-size: 20px;
  font-weight: bold;
}

.clock__numbers > .numbers__hour::before {
  position: relative;
  content: "";
  background-color: #222;
  display: block;
  height: 0.55em;
  width: 0.10em;
  margin-bottom: 0.5em;
    width: 0.14em;
    height: .50em;
}
