{% extends 'base.html' %}

{% block content %}
	<form method="POST">
		{% csrf_token %}

		{% for field in form %}
        <div>
            {{ field.label }}
            {{ field }}
            <div>
                {{ field.errors }}
            </div>
        </div>
    	{% endfor %}

		<button class="btn" style="background-color:yellow; color:blue" type="submit">login</button>
	</form>
	<div>
		If you don't already have an account, <a href="/register"><strong>register</strong></a> for one.
	</div>
	<div>
		Need help getting into your account? We can help <a href="/password_reset"><strong>here.</strong></a>
	</div>
	{% if messages %}
	<div id="message" class="{{ message.tags }}">
		{% for message in messages%}
		{{ message }}
		{% endfor %}
	</div>
	{% endif %}
{% endblock %}